@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --min-width: 1440px;
  --dm: 16px; /* default margin */
}

html {
  background-color: grey;
  font-family: "Frank Ruhl Libre", serif;
}

body {
  min-width: var(--min-width);
  margin: 0;
  display: flex;
  justify-content: center;
}

body h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 58px;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  /* width: 100%; */
  width: var(--min-width);
  background-color: white;
  opacity: 70%;
  height: 76px;
  z-index: 1;
}

header .logo {
  position: relative;
  /* width: 200px;
  height: 43px; */
}

header .menu-button {
  margin: 40px;
}

header div .menu-icon {
  position: relative;
}

/* i believe */
img {
  opacity: none;
}

main .main-image {
  position: relative;
  width: 100%;
  height: 900px;
  filter: brightness(70%);
}

main .main-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
