@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --min-width: 1440px;
  --dm: 16px; /* default margin */
  --clr-light: #ffffff;
  --clr-dark: #000000;
  --clr-primary: #4897d0;
  --bg-color: #ede8ea;
  --fw-medium: 500;
  --fw-regular: 400;
}

html {
  background-color: var(--bg-color);
}

body {
  margin: 0;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.55;
  /* min-width: var(--min-width); */
  display: flex;
  justify-content: center;
}

body h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 58px;
  font-weight: var(--fw-regular);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  /* width: var(--min-width); */
  background-color: white;
  opacity: 0.7;
  height: 76px;
  z-index: 1;
}

header .logo {
  position: relative;
  /* width: 200px;
  height: 43px; */
}

header .menu-button {
  position: relative;
  margin: 40px;
}

header div .menu-icon {
}

main {
  position: relative;
  width: 100%;
  height: 900px;
}

/* must be pseudo element to apply the brightness filter */
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/main.png);
  background-size: cover;
  filter: brightness(80%);
}

main .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-light);
  text-align: center;
}
