@media (max-width: 1200px) {
  .content.content-1 section,
  .content-2 {
    display: block;
  }
  .content-2--fragment-section--text {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .content-2--fragment-section--text img {
    display: none;
  }
  .content-2--fragment > img {
    display: block;
    max-width: 100%;
    height: 24rem;
  }
}
